.about-section {
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.295));
      margin-top: 1rem;
      height: auto;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    }

    .about-heading {
      transition: all ease-in-out 0.3s;
      color: white;
      font-size: 6.5rem;
      font-family: serif;
      font-weight: bolder;
      margin-top: 9rem;
      margin-bottom: 4rem;
      line-height: 5rem;
      margin-left: 7rem;
    }

    .about-heading:hover {
      font-size: 7rem;
      transform: scale(1.2);
    }

    .arrow {
      color: #d749fa;
      margin-left: 1rem;
      transition: all ease-in-out 0.3s;

    }

    .about-content {
      font-size: 1.4rem;
      font-family: sans-serif;
      color: #cfc6c6c8;
      border-left: 1px solid #cfc6c6c8;
      margin-left: 7rem;
      padding-left: 25px;
      margin-top: 6rem;
      text-align: justify;
      padding-right: 23px;
      margin-bottom: 6rem;
      animation: slideLeft 0.5s 0.5s linear forwards;
    }
