
    /* -----------------------home----------------------- */
    #home{
      margin-top: -1rem;
    }
    .row{
      max-width: 100%;
    }
    .css-heading {
        font-size: 2.2rem;
        font-weight: bolder;
        font-family: serif;
        border: 1px solid white;
        border-radius: 4px;
        box-shadow: 0 0 3rem purple;
        margin-top: 6rem;
        text-align: center;
        width: 35%;
        margin-left: 7rem;
        background: linear-gradient(45deg, hsla(293, 57%, 34%, 0.692) 20%, hsla(263, 61%, 19%, 0.637) 100%);
      }
  
      span .style-blink::after {
        content: "|";
        animation: blink 1s infinite;
      }
  
      .text-color {
        -webkit-text-stroke: 1px rgb(232, 129, 18);
        -webkit-text-fill-color: rgb(245, 218, 14);
        text-shadow: 2px 1px 4px rgb(232, 129, 18);
        /* Optional: Fill text with color */
      }
  
      .my-intro {
        font-size: 3rem;
        font-family: serif;
        font-weight: bolder;
        margin-left: 7rem;
        line-height: 1.3em;
        animation: slideRight 0.4s 0.5s linear forwards;
      }
  
      .my-info {
        font-size: 1.1rem;
        font-family: sans-serif;
        color: #cfc6c6c8;
        border-left: 1px solid #cfc6c6c8;
        margin-left: 7rem;
        padding: 0px 22px;
        margin-top: -1rem;
        padding-right: 113px;
        animation: slideBottom 0.4s 0.5s linear forwards;
      }
  
      /* -----------------------social links--------------------- */
      .icon-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-end;
        padding-right: 1.7rem;
        margin-top: -14rem;
        animation: slideLeft 0.4s 0.5s linear forwards;
      }
  
      .social-links {
        color: cyan;
        font-size: 1.9rem;
        margin: 0.4rem;
      }
  
      .social-links:hover {
        font-size: 2rem;
        text-shadow: 0 0 2rem cyan;
      }
  
      /* ---------------------pics---------------------- */
      .design .circle {
        aspect-ratio: 1;
        border-radius: 50%;
        margin-top: -12rem;
        margin-left: 20rem;
        transform: translate(-50%, -50%);
      }
  
      .circle:nth-child(1) {
        background: linear-gradient(90deg, transparent 50%);
        width: 35rem;
      }
  
      .circle:nth-child(2) {
        background-image: url('');
        background-size: 100%;
        border: .6rem solid white;
        width: 24rem;
        box-shadow: 0 0 1rem white, inset 0 0 1rem white, 0 0 2rem cyan, inset 0 0 2rem cyan, 0 0 3rem blue, inset 0 0 3rem blue;
      }
  /* responsiveness for home page */
@media only screen and (max-width: 1164px){
 .css-heading{
  font-size: 2rem;
 }
  .circle:nth-child(2){
    width: 22rem;
  }
.my-info{
  padding-right: 69px;
}
}
@media only screen and (max-width: 1078px){
  .css-heading{
    width: 39%;
    margin-left: 5rem;
  }
.my-intro{
  font-size: 2.6rem;
  margin-left: 5rem;
}
.my-info{
  font-size: 1rem;
  padding-right: 58px;
  margin-left: 5rem;
}
.design .circle{
  margin-left: 14.5;

}
.circle:nth-child(2){
  width: 20rem;
}
}
@media only screen and (max-width: 1026px){
  .design .circle{
    margin-left: 16rem;
  }

}
@media only screen and (max-width: 940px){
  .my-info{
    padding-right: 10px;
  }
  .css-heading{
    width: 41%;
  }
  .design .circle{
    margin-left: 19rem;
    margin-top: -8rem;
  }
  .circle:nth-child(1){
    width: 29rem;
  }
  .icon-item{
    display: none;
  }
}
@media only screen and (max-width: 900px){
  .css-heading{
    width: 44%;
    margin-left: 3rem;
  }
  .my-intro{
    margin-left: 3rem;
  }
  .my-info{
    margin-left: 3rem;
  }
  .design .circle{
    margin-left: 17rem;
    margin-top: -6rem;
  }
  .circle:nth-child(1){
    width: 21rem;
  }
  .circle:nth-child(2){
    width: 18rem;
  }
}
@media only screen and (max-width: 828px){
  .css-heading{
    width: 46%;
  }
  .my-intro{
    font-size: 2.2rem;

  }
  .my-info{
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 797px){
  .css-heading{
font-size: 2.6rem;
margin-left: 8rem;
width: 68%;
  }
  .design .circle{
    display: none;
  }
  .my-intro {
    margin-left: 11rem;
    font-size: 3.6rem;
    margin-right: -19rem;
    text-align: center;
}
.my-info{
  margin-left: 9rem;
  font-size: 1.4rem;
  margin-right: -23rem;
  text-align: justify;
}
}

@media only screen and (max-width: 679px){
  .css-heading{
    width: 77%;
        margin-left: 4rem;
  }
  .my-intro{
    margin-left: 6rem;
  }
  .my-info{
    margin-left: 5rem;
  }
}