*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to right, #0a0a0a, #090a0a,#0b0a0b, #0b0a0c, #0c0817, #1b082e, #1c0836, #210a51, #12098d,#120991 );
    height: 10rem;
    max-width: 100vw;

    font-family: 'Poppins', sans-serif;
}


#mynav{

    border: 1px solid rgba(38, 7, 87, 0.671);
    border-radius: 50px;
    background-color: #00000077;
    opacity: 0.8;
    margin-left: 5rem;
    margin-right: 4.3rem;
    padding-left: 1.2rem;
}
nav .css-btn{
    background-color: #250936;
    border: none;
    border-radius: 50px;
    color: white;
    /* width: fit-content;
    padding: 1rem; */
}
.css-btn:hover{
    background-color: #371050 !important;
    border: none;
    border-radius: 50px;
    color: rgb(235, 235, 215);
    
}
ul li{
    color: white;
}


